version: 2.1

jobs:
  cut-release:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: "Checkout submodules"
          command: |
            git submodule sync
            git submodule update --init
      - run:
          name: "Extract version"
          command: echo "export VERSION=${CIRCLE_TAG#offscreen-}" >> $BASH_ENV
      - run:
          name: "Create VERSION file"
          command: echo "$VERSION" > VERSION
      - run:
          name: "Install git-archive-all"
          command: pip install git-archive-all
      - run:
          name: "Create source tarball"
          command: |
            mkdir -p /tmp/artifacts
            git-archive-all --force-submodules --prefix=offscreen-${VERSION}/ /tmp/artifacts/offscreen-${VERSION}.tar.gz
      - persist_to_workspace:
          root: /tmp/artifacts
          paths:
            - offscreen-*.tar.gz

  calculate-checksum:
    docker:
      - image: cimg/python:3.10
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: "Extract version"
          command: echo "export VERSION=${CIRCLE_TAG#offscreen-}" >> $BASH_ENV
      - run:
          name: "Calculate SHA256 checksum"
          command: |
            sha256sum /tmp/artifacts/offscreen-${VERSION}.tar.gz > /tmp/artifacts/offscreen-${VERSION}.sha256
      - store_artifacts:
          path: /tmp/artifacts
          destination: source-tarball

filters: &filters
  tags:
    only: /^offscreen-.*/

workflows:
  version: 2
  my-release-workflow:
    jobs:
      - cut-release:
          filters: *filters
      - calculate-checksum:
          filters: *filters
          requires:
            - cut-release
