version: 2.1

jobs:
  cut-release:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: "Checkout submodules"
          command: |
            git submodule sync
            git submodule update --init
      - run:
          name: "Extract version"
          command: echo "export VERSION=${CIRCLE_TAG#offscreen-}" >> $BASH_ENV
      - run:
          name: "Create VERSION file"
          command: echo "$VERSION" > VERSION
      - run:
          name: "Install git-archive-all"
          command: pip install git-archive-all
      - run:
          name: "Create source tarball"
          command: |
            echo "Creating tarball for $VERSION"
            mkdir -p /tmp/artifacts
            git-archive-all --force-submodules --prefix=offscreen-${VERSION}/ /tmp/artifacts/offscreen-${VERSION}.tar.gz
      - store_artifacts:
          path: /tmp/artifacts
          destination: source-tarball
      - persist_to_workspace:
          root: /tmp/artifacts
          paths:
            - offscreen-*.tar.gz

workflows:
  version: 2
  release:
    jobs:
      - cut-release:
          filters:
            tags:
              only: /^offscreen-.*/
            branches:
              ignore: /.*/
